@model RentX.Models.Renter

@{
    ViewBag.Title = "PayRequest";
}

<h2>poop</h2>
@Scripts.Render("~/bundles/jquery")
<head>
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>